
.Navbar {
    display: flex;
    flex-direction: column;
    height: 3em;
    flex-wrap: wrap;

    width: 100vw;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
    margin: 0px;

    background: rgb(49, 46, 46);
}

.LinkCenter {
    display: flex;
    flex-grow: 10;
    text-decoration: none;
    color: antiquewhite;
    align-self: left;
    margin-left: -150px;
}

.NewUser {
    border-radius: 30px;
    width: 150px;
    height: 30px;
    align-self: right;
    background-color: rgb(129, 154, 93);
    text-decoration: none;
    color: antiquewhite;
    box-shadow: 7px 5px 15px 0px rgba(0,0,0,0.85);
}
